Dataset is from a bar in Downtown. The data contains information on sales in high-end bar-cum-restaurant.

In [2]:
import pandas as pd
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [ ]:
mainSheet =