### This notebook is about steps involved in taking file from local file system and writing it to local database

In [4]:
#It uses database connectivity libraries, python and pandas

import pandas as pd
import psycopg2
import os

Problem statement:

Excel file is uploaded to particular folder on regular intervals, say 15 minutes
File needs to be converted to CSV file and written back to same folder
The data in the file needs to be written to a database connected to Airflow

1) Locate the file location where it will be regularly updated by the absolute path

2) Write the function to read the file into pandas, create dataframe, drop unncessary columns

3) Write the function that writes the dataframe to csv file and stores it back to destination location

4) Write the database connectivity function that creates the table in Postgresql database

In [27]:
source = "/run/media/solverbot/repoA/gitFolders/dashBoard Designs/fsPipelines/fileupload/"
dest = "/run/media/solverbot/repoA/gitFolders/dashBoard Designs/fsPipelines/fileCSV/"

In [28]:
#Take the last file in the directory list
os.listdir(source)[-1]

'Tick Sales Dashboard.xlsx'

In [29]:
sourcePath = source + os.listdir(source)[-1]

In [30]:
name = os.listdir(source)[-1]

In [40]:
sourceDF = pd.read_excel(sourcePath,sheet_name='DataSource',header=0)

In [41]:
sourceDF.head()

,Year,Ticket Types,Age-Group,Gender,Location,Ticket Price,Audience,Location-Filter,Year-Filter,Ticket-Filter,Unnamed: 10,Unnamed: 11
0,2020,VIP,39-41,Male,Delta,100000,1,False,True,True,NaN,NaN
1,2020,VVIP,39-42,Female,Ebonyi,500000,3,False,True,True,NaN,120140000.0
2,2020,Regular,43-45,Male,Edo,20000,1,False,True,True,NaN,NaN
3,2020,VIP,46-48,Female,Ekiti,100000,1,False,True,True,NaN,NaN
4,2020,VIP,49-51,Male,Imo,100000,1,False,True,True,NaN,NaN

In [43]:
frameCols = sourceDF.columns
dropColumns = []
for x in frameCols:
    if x.split(':')[0] == 'Unnamed':
        dropColumns.append(x)
sourceDF.drop(dropColumns,inplace=True,axis=1)

In [47]:
#Formatting the columns headers to 
frameCols = sourceDF.columns
cols = []
for x in frameCols:
    temp = x.replace(" ",'_')
    temp = temp.replace("-","_")
    temp = temp.replace(":","_")
    cols.append(temp)
sourceDF.columns = cols

In [49]:
#transformation function
def transformXL(fileLocation, worksheet = 'DataSource'):
    
    sourceDF = pd.read_excel(sourcePath,sheet_name='DataSource',header=0)
    
    frameCols = sourceDF.columns
    dropColumns = []
    
    for x in frameCols:
        if x.split(':')[0] == 'Unnamed':
            dropColumns.append(x)
    sourceDF.drop(dropColumns,inplace=True,axis=1)
    
    #Formatting the columns headers to 
    frameCols = sourceDF.columns
    cols = []
    for x in frameCols:
        temp = x.replace(" ",'_')
        temp = temp.replace("-","_")
        temp = temp.replace(":","_")
        cols.append(temp)
        
    sourceDF.columns = cols
    
    return sourceDF

In [57]:
destname = name.split('.')[0]+'.csv'
destname = destname.replace(' ','_')
destname = dest + destname
destname

'/run/media/solverbot/repoA/gitFolders/dashBoard Designs/fsPipelines/fileCSV/Tick_Sales_Dashboard.csv'

In [58]:
sourceDF.to_csv(destname,index=False)

In [60]:
def writeFS(dataframe, filename):
    dataframe.to_csv(filename,index=False)

In [61]:
import configparser
import warnings
warnings.filterwarnings('ignore')

In [ ]:
config = configparser.ConfigParser()
config.read('')